<!-- using modern @if modern syntax -->
<!-- <div class="course-card">
  <div class="course-title">
    {{ cardIndex() + " " + course().description }}
  </div>

  @if (course().iconUrl) {
    <img width="300" alt="Angular Logo" [src]="course().iconUrl" />
  }

  @else {
    No Image Found!
  }

  <div class="course-description">
    {{ course().longDescription }}
  </div>

  <button (click)="onClickCourseView()">View Course</button>
</div> -->

<!-- using ngIf core directive old syntax -->
<ng-container *ngIf="course()">
  <div class="course-card" [ngClass]="cardClasses()">
    <div class="course-title">
      {{ cardIndex() || "" + " " + course().description }}
    </div>

    <!-- <img
      #courseImage
      width="300"
      alt="Angular Logo"
      [src]="course().iconUrl"
      *ngIf="isImageVisible(); else noImageTemplate"
    /> -->

    <ng-content
      select="course-image"
      *ngIf="course().iconUrl; else noImage"
    ></ng-content>
    <ng-content select=".course-description"></ng-content>
    <ng-content select="card-title"></ng-content>

    <ng-template #noImage>
      <ng-container
        *ngTemplateOutlet="
          noImageTemplate;
          context: { courseName: course().description }
        "
      ></ng-container
    ></ng-template>

    <!-- <div class="course-description">
      {{ course().longDescription }}
    </div> -->

    <div class="course-category" [ngSwitch]="course().category">
      <div *ngSwitchCase="'BEGINNER'">Beginner</div>
      <div *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
      <div *ngSwitchCase="'ADVANCED'">Advanced</div>
      <div *ngSwitchDefault>Unknown</div>
    </div>

    <button (click)="onClickCourseView()">View Course</button>
  </div>
</ng-container>
