<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses" #container>
  <!-- @for (
    course of courses;
    track course.id;
    let index = $index;
    let count = $count;
    let first = $first;
    let last = $last
  ) {
    <course-card
      (courseSelected)="onCardClick($event)"
      [course]="course"
      [class.is-first]="first"
      [class.is-last]="last"
    />
  } @empty {
    <h1>No courses found!</h1>
  } -->

  <!-- <course-card
    #cardRef1
    /* *ngFor="
      let course of courses;
      index as i;
      let first = first;
      let last = last
    " */
    (courseSelected)="onCardClick($event)"
    /* [cardIndex]="i + 1" */\
    [cardIndex]="1"
    [course]="courses[0]"
    /* [class.is-first]="first"
    [class.is-last]="last" */
  ></course-card>

  <course-card
   #cardRef2
    /* *ngFor="
      let course of courses;
      index as i;
      let first = first;
      let last = last
    " */
    (courseSelected)="onCardClick($event)"
    /* [cardIndex]="i + 1" */\
    [cardIndex]="1"
    [course]="courses[0]"
    /* [class.is-first]="first"
    [class.is-last]="last" */
  ></course-card> -->

  <ng-template #blankImage let-courseName="courseName">
    <p [class.warn]="true">{{ courseName }} has no image yet.</p>
    <img src="/assets/empty-image.png" width="300" alt="No Image Found" />
  </ng-template>

  <div class="courses" *ngIf="courses[0] as course">
    <course-card
      (courseSelected)="onCardClick($event)"
      [course]="course"
      [noImageTemplate]="blankImage"
    >
      <course-image [src]="course.iconUrl"></course-image>
      <!-- <course-image [src]="course[1].iconUrl"></course-image>
      <course-image [src]="course[2].iconUrl"></course-image> -->
      <h3 ngProjectAs="card-title">Hello</h3>
      <div class="course-description">
        {{ course.longDescription }}
      </div>
    </course-card>
  </div>
</div>
